<%= form_for(@mp1) do |f| %>
  <% if @mp1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mp1.errors.count, "error") %> prohibited this mp1 from being saved:</h2>

      <ul>
      <% @mp1.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :twfy_mpid %><br />
    <%= f.number_field :twfy_mpid %>
  </div>
  <div class="field">
    <%= f.label :rating1 %><br />
    <%= f.number_field :rating1 %>
  </div>
  <div class="field">
    <%= f.label :rating2 %><br />
    <%= f.number_field :rating2 %>
  </div>
  <div class="field">
    <%= f.label :rating3 %><br />
    <%= f.number_field :rating3 %>
  </div>
  <div class="field">
    <%= f.label :rating4 %><br />
    <%= f.number_field :rating4 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
