<!-- Start of first page: #one -->
<div data-role="page" id="one">

  <div data-role="header">
    <h1>My opinions</h1>
  </div><!-- /header -->
  
<%= form_for(@mp1) do |f| %>
  <% if @mp1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mp1.errors.count, "error") %> prohibited this mp1 from being saved:</h2>

      <ul>
      <% @mp1.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :pcs do |builder| %>
    
    <div data-role="fieldcontain"><br /><br />
      <b><%= builder.label :postcode, "Postcode" %></b>
      <%= builder.text_field :postcode, :class => :postcode %>
    </div><br />
    
    <div class="row_t">
      <label for="liberty_slide"></label>
      <div class="cell_t_left">Genghis Khan</div>
      <div class="cell_t_right">Bambi</div>
    </div>
    <div class="ui-slider1">
      <%= builder.hidden_field :rating1, 'data-type' => :range, :value=>"50", :min=>"0", :max=>"100", 'data-highlight'=>"true"%>
    </div><br />

    <div class="row_t">
      <label for="europe_slide"></label>
      <div class="cell_t_left">Anti-EU</div>
      <div class="cell_t_right">Pro-EU</div>
    </div>
    <div class="ui-slider1">
      <%= builder.hidden_field :rating2, 'data-type' => :range, :value=>"50", :min=>"0", :max=>"100", 'data-highlight'=>"true"%>
    </div><br />

    <div class="row_t">
      <label for="tolerence_slide"></label>
      <div class="cell_t_left">Anti-terroism</div>
      <div class="cell_t_right">Freedom of speech</div>
    </div>
    <div class="ui-slider1">
      <%= builder.hidden_field :rating3, 'data-type' => :range, :value=>"50", :min=>"0", :max=>"100", 'data-highlight'=>"true"%>
    </div><br />

    <div class="row_t">
      <label for="education_slide"></label>
      <div class="cell_t_left">Parents know best</div>
      <div class="cell_t_right">Teachers know best</div>
    </div>
    <div class="ui-slider1">
      <%= builder.hidden_field :rating4, 'data-type' => :range, :value=>"50", :min=>"0", :max=>"100", 'data-highlight'=>"true"%>
    </div><br />

  <% end %>

    <p><a onClick="postcode()" data-role="button">next</a></p>
          
    <br /><br /><br /><br />
  </div><!-- /content -->
  
  <div data-role="footer" data-theme="d">
          <h4>Thanks for filling</h4>
  </div><!-- /footer -->
</div><!-- /page one -->


<!-- Start of second page: #two -->
<div data-role="page" id="two">

  <div data-role="header">
    <h1>My MP</h1>
  </div><!-- /header -->

  <div data-role="fieldcontain" >	
    <h3 id="mpName"></h3>
    <img src="" id="mpPhoto" /><br /><br />

    <p> <b id="mpName">My MP's opinions</b>
    </p><br />

    <div class="row_t">
      <label for="honesty_slide"></label>
      <div class="cell_t_left">Pinocchio</div>
      <div class="cell_t_right">Gandhi</div>
    </div>
    <div class="ui-slider1">
      <%= f.hidden_field :rating1, 'data-type' => :range, :value=>"50", :min=>"0", :max=>"100", 'data-highlight'=>"true"%>
    </div><br />

    <div class="row_t">
      <label for="europe_slide"></label>
      <div class="cell_t_left">Anti-EU</div>
      <div class="cell_t_right">Pro-EU</div>
    </div>
    <div class="ui-slider1">
      <%= f.hidden_field :rating2, 'data-type' => :range, :value=>"50", :min=>"0", :max=>"100", 'data-highlight'=>"true"%>
    </div><br />

    <div class="row_t">
      <label for="tolerence_slide"></label>
      <div class="cell_t_left">Anti-terroism</div>
      <div class="cell_t_right">Freedom of speech</div>
    </div>
    <div class="ui-slider1">
      <%= f.hidden_field :rating3, 'data-type' => :range, :value=>"50", :min=>"0", :max=>"100", 'data-highlight'=>"true"%>
    </div><br />

    <div class="row_t">
      <label for="education_slide"></label>
      <div class="cell_t_left">Parents know best</div>
      <div class="cell_t_right">Teachers know best</div>
    </div>
    <div class="ui-slider1">
      <%= f.hidden_field :rating4, 'data-type' => :range, :value=>"50", :min=>"0", :max=>"100", 'data-highlight'=>"true"%>
    </div><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>

<!-- Start of final page: #three -->
<div data-role="page" id="three">

  <div data-role="header">
    <h1>Political Positions</h1>
  </div><!-- /header -->

	<div data-role="content">	
		<div id="visualization" style="width: 420px; height: 420px;"></div>
	</div><!-- /content -->

</div>

<script src="http://www.google.com/jsapi"></script>
<script>
google.load('visualization', '1', {packages: ['corechart']});

function drawVisualization() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'ID');
    data.addColumn('number', 'X');
    data.addColumn('number', 'Y');
    data.addColumn('number', 'Size');
    
    data.addRow(['Me', 60, 55, 0.8]);
    data.addRow(['My MP', 25, 10, 1.2]);

    // Create and draw the visualization.
    var chart = new google.visualization.BubbleChart(
        document.getElementById('visualization'));
    chart.draw(data, {width: 420, height: 420,
                      vAxis: {title: "Cultural", minValue: 0, maxValue: 100, textStyle: {color: "white"}},
                      hAxis: {title: "Economic", minValue: 0, maxValue: 100, textStyle: {color: "white"}},
                      colorAxis: {legend: {position: 'none'}}}
              );
}

</script>
