

<!-- Start of final page: #three -->
<div data-role="page" id="one">

  <div data-role="header">
    <h1>Political Positions</h1>
  </div><!-- /header -->

	<div data-role="content">	
		<div id="visualization" style="width: 420px; height: 420px;"></div>
	</div><!-- /content -->

</div>

<script src="http://www.google.com/jsapi"></script>
<script>
google.load('visualization', '1', {packages: ['corechart']});

function drawVisualization() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'ID');
    data.addColumn('number', 'X');
    data.addColumn('number', 'Y');
    data.addColumn('number', 'Size');
    
    data.addRow(['Me', 60, 55, 0.8]);
    data.addRow(['My MP', 25, 10, 1.2]);

    // Create and draw the visualization.
    var chart = new google.visualization.BubbleChart(
        document.getElementById('visualization'));
    chart.draw(data, {width: 420, height: 420,
                      vAxis: {title: "Cultural", minValue: 0, maxValue: 100, textStyle: {color: "white"}},
                      hAxis: {title: "Economic", minValue: 0, maxValue: 100, textStyle: {color: "white"}},
                      colorAxis: {legend: {position: 'none'}}}
              );
}

</script>
<!--
<p id="notice"><%= notice %></p>

<p>
  <b>Twfy mpid:</b>
  <%= @mp1.twfy_mpid %>
</p>

<p>
  <b>Rating1:</b>
  <%= @mp1.rating1 %>
</p>

<p>
  <b>Rating2:</b>
  <%= @mp1.rating2 %>
</p>

<p>
  <b>Rating3:</b>
  <%= @mp1.rating3 %>
</p>

<p>
  <b>Rating4:</b>
  <%= @mp1.rating4 %>
</p>

<% for pc in @mp1.pcs %>
  <p>
    <%= pc.postcode %>
    <%= pc.rating1 %>
    <%= pc.rating2 %>
    <%= pc.rating3 %>
    <%= pc.rating4 %>
  </p>
<% end %>

<%= link_to 'Edit', edit_mp1_path(@mp1) %> |
<%= link_to 'Back', mp1s_path %>

 -->