<p id="notice"><%= notice %></p>

<p>
  <b>Twfy mpid:</b>
  <%= @mp1.twfy_mpid %>
</p>

<p>
  <b>Rating1:</b>
  <%= @mp1.rating1 %>
</p>

<p>
  <b>Rating2:</b>
  <%= @mp1.rating2 %>
</p>

<p>
  <b>Rating3:</b>
  <%= @mp1.rating3 %>
</p>

<p>
  <b>Rating4:</b>
  <%= @mp1.rating4 %>
</p>


<%= link_to 'Edit', edit_mp1_path(@mp1) %> |
<%= link_to 'Back', mp1s_path %>
